@page
@model D_D_Monster_Database_Web.Pages.Account.BrowseUsersModel
@{
}

<div class="row text-center mb-4">
    <div class="col-12">
        <h1 class="display-4 text-primary fw-bold">🧙 User List</h1>
    </div>
</div>

