@page
@model D_D_Monster_Database_Web.Pages.Account.RegistrationModel
@{
    ViewData["Title"] = "Register";
}
<h2>Register</h2>
<p>Kindly fill in this form to register</p>

<form method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" asp-for="User.Username" required>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" asp-for="User.Email" required>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" asp-for="User.Password" required>
    </div>

    <div>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" asp-for="User.ConfirmPassword" required>
    </div>

    <button type="submit">Register</button>
</form>

<p>Already have an account? <a asp-page="Sign_In">Login</a></p>
