@page
@model D_D_Monster_Database_Web.Pages.Account.RegistrationModel
@{
}
<div class="row text-center">
    <div class="col-12">
        <label class="form-label fs-1"> <i class="bi bi-person-plus"></i> Register</label>
    </div>
</div>
<form method="post">
    <div class="row my-2">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="col-4">
            <label asp-for="NewUser.firstName"class="form-label"></label>
        </div>
        <div class = "col-12">
            <input asp-for="NewUser.firstName" type="text" class=" form-control" />
            <span asp-validation-for="NewUser.firstName" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewUser.lastName" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewUser.lastName" type="text" class=" form-control" />
            <span asp-validation-for="NewUser.lastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewUser.Username" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewUser.Username" type="text" class=" form-control" />
            <span asp-validation-for="NewUser.Username" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewUser.Email" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewUser.Email" type="text" class=" form-control" />
            <span asp-validation-for="NewUser.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewUser.Password" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewUser.Password" type="password" class="form-control" />
            <span asp-validation-for="NewUser.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-4">
            <label asp-for="NewUser.ConfirmPassword" class="form-label"></label>
        </div>
        <div class="col-12">
            <input asp-for="NewUser.ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="NewUser.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12">
            <button type="submit" class="form-control btn btn-primary" style="background-color: #6f42c1; border-color: #6f42c1;">Register</button>
        </div>
</form>


<p>Already have an account? <a asp-page="Sign_In">Login</a></p>


