@page
@model D_D_Monster_Database_Web.Pages.Account.Sign_InModel
@{
}

<div class="row">
	<div class="col-12">
		<label class="form-label fs-1">Sign In</label>
	</div>
	
</div>
<form method="post">
	<div class ="text-danger" asp-validation-summary="All"></div>
	<div class="row my-2">
		<div class="col-4">
			<label asp-for="Login.Username" class="form-label"></label>
		</div>
		<div class="col-12">
			<input asp-for="Login.Username" type="text" class="form-control" />
		</div>
	</div>
	<div class="row my-2">
		<div class="col-4">
			<label asp-for="Login.Password" class="form-label"></label>
		</div>
		<div class="col-12">
			<input asp-for="Login.Password" type="password" class="form-control" />
		</div>
	</div>
	<div class="row my-4">
		<div class="col-12">
			<button type="submit" class="form-control btn btn-primary" style="background-color: #6f42c1; border-color: #6f42c1;">Sign In</button>
		</div>
	</div>
</form>
<p>New User? <a asp-page="Registration">Register</a></p>
<p>Forgot password? <a asp-page="Forgot_Password">Forgot_Password</a></p>
